@import url('https://fonts.googleapis.com/css2?family=Orbitron&display=swap');
.calculator {
    background-color: #35353f;
    height: 380px;
    margin: auto;
    padding: 10px;
    width: 400px;
}
.display{
    font-family: 'Orbitron', sans-serif;
    background-color: #dcdbe1;
    border-radius: 5px;
    border: solid black 0.5px;
    color: black;
    height: 65%;
    width: 100%;
}
.button {
    font-family: 'Orbitron', sans-serif;
    background-color: #59d1bd;
    border-radius: 5px;
    border: solid rgb(250, 247, 247) 0.5px;
    color: rgb(15, 13, 13);
    height: 70%;
    outline: none;
    width: 100%;
}
